---
import appleTouchIcon from '~/assets/favicons/axionlogo.png';
---

<img src={appleTouchIcon.src} alt="obsero logo" class="h-8 w-12 mr-2" />
<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
  Axion
</span>
